.page-wrap{
  padding:20px;
}
.drag{
  background-color: #AACCFF;
  border: 1px solid #666;
  cursor: move;
  height: 100px;
  width: 100px;
  margin: 10px;
  float: left;
}
.drop{
  background-color: #EEE;
  border:1px solid #666;
  cursor: pointer;
  height: 150px;
  width: 150px;
  margin: 10px;
  float:left;
}